<div class="fluid-container list-event-container">
  <div class="list-event row">
    <h3><%= link_to event.title, event %></h3>
    <p><%= event.description %></p>
    <p><img class="location-icon" src="images/location_icon.png" /><%= event.location %></p>
    <p><img class="date-icon" src="images/date_icon.png" /><%= event.date %></p>
    <p>
      <% if signed_in? %>
        <%= link_to 'Edit', edit_event_path(event) %> |
        <%= link_to 'Delete', event, data: {confirm: 'Are you sure you want remove this event?'}, method: :delete %>
      <% end %>
    </p>
  </div>
</div>


