<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :lat, 'Latitude' %>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng, 'Longitude' %>
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date, 'Event Date' %>
    <%= f.text_field :date, :value => @event.date.strftime("%m/%d/%Y %l:%M %p"), 'data-behavior' => 'datepicker', :placeholder => "09/13/2014 10:00am" %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="form-buttons">
    <div> 
      <% if current_page?(action: 'new') %>
        <%= f.submit 'Create Event', class: "btn btn-large btn-success" %>
      <% else %>
        <%= f.submit 'Update Event', class: 'btn btn-large btn-success' %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Nevermind', events_path, class: 'btn btn-medium btn-warning' %>
    </div>
  </div>
<% end %>
