<%= form_for(@violation) do |f| %>
  <% if @violation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@violation.errors.count, "error") %> prohibited this violation from being saved:</h2>

      <ul>
      <% @violation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  
    <%= f.label :Latitude %>
    <%= f.text_field :lat %>
  
    <%= f.label :Longitude %>
    <%= f.text_field :lng %>
  
    <%= f.label :Type %>
    <%= f.select :violation_type, [["Mess", "mess"], ["Weeds", "weeds"], ["Big Item", "bigitem"]] %>

    <%= f.label :Description %>
    <%= f.text_field :description %>
  
    <%= f.label :Violation_address %>
    <%= f.text_field :violation_address %>
  
    <%= f.label :Status %>
    <%= f.select :status, [["Its a Mess", "open"], ["Cleaned Up", "closed"]] %>
    
    <div class='img-form-container'>
    
    
      <div class='img-edit-container'>
      <% if current_page?(action: 'edit') %>
        <div class='img-edit-thumb'>
        <%= image_tag @violation.image_before.url(:thumb) %>
        </div>
      <% end %>
    
      <div class='img-edit-field'>
        <%= f.label :image_before %>
        <%= f.file_field :image_before %>
      </div>
      </div>
      
       <div class='img-edit-container'>
      <% if current_page?(action: 'edit') %>
        <div class='img-edit-thumb'>
        <%= image_tag @violation.image_after.url(:thumb) %>
        </div>
      <% end %>
    
      <div class='img-edit-field'>
        <%= f.label :image_after %>
        <%= f.file_field :image_after %>
      </div>
      </div
    </div>
   
  
  <br />
  
    <div class="form-buttons">
      <div>
        <%= f.submit 'Submit a violation', class: "btn btn-large btn-primary" %>
      </div>
      <div>
        <%= link_to 'Nevermind', violations_path, class: 'btn' %>
      </div>
    </div>
  
  
<% end %>
