<div class="mess-list-item row" id="<%= violation.id %>">
  <div class="mess-list-img">
    <%= link_to violation, class: 'pic-link' do %>
      <%= image_tag violation.image_before.url(:thumb) %>
    <% end %>
  </div>

  <div class="mess-list-data">
    <div class="mess-list-details">
      <p>Address: <%= violation.violation_address %></p>
      <p>Description: <%= violation.description %></p>
      <p>Submitted: <%= violation.date_entered %></p>
      <span>
        <%= link_to 'Details', violation %>
        <% if signed_in? %>
          <%= link_to ' | Edit', edit_violation_path(violation) %>
          <%= link_to ' | Delete', violation, confirm: 'Are you sure you want to remove this mess.', method: :delete, class: 'destroy' %>
          <% if !violation.approved? %>
            <%= link_to ' | Approve', violation_path(violation, :update_type => "approve"), confirm: 'Are you sure you want to approve this mess?', method: :put, class: 'approve'  %>
          <% end %>
        <% end %>
       </span>
    </div>
    <!-- Cleaned Mess Section -->
    <%if violation.status=="closed" %>
      <div class="mess-list-cleaned-img">
        <img src="images/Cleaned96.jpg" alt="Cleaned Icon" />
    
      </div>
    <% end %>
    
  </div>
</div>
