<p id="notice"><%= notice %></p>

<div id="detail-map-canvas">
      <%= javascript_tag "initMap('detail-map-canvas', 'mess_detail');" %> 
        <%= javascript_tag " addMessDetailMarker(#{@violation.lat}, #{@violation.lng}, '#{@violation.violation_type}');" %>
</div>

<div class="detail-info container">
 <div class="row">
  <div class="col-xs-12">
    <table id="detail-info-table" >
      <tr>
        <td class="tbl-header">Status:</td>
        <% if @violation.status == 'open' %>
          <td class="tbl-data status-open"><%= @violation.status %></td>
        <% else %>
          <td class="tbl-data status-closed"><%= @violation.status %></td>
        <% end %>
        <td class="tbl-header">Lat:</td>
        <td class="tbl-data"><%= @violation.lat %></td>
      </tr>
      <tr>
        <td class="tbl-header">Description: </td>
        <td class="tbl-data"><%= @violation.description %></td>
        <td class="tbl-header">Lng: </td>
        <td class="tbl-data"><%= @violation.lng %></td>
      </tr>
      <tr>
        <td class="tbl-header">Type: </td>
        <td><%= @violation.violation_type %></td>
        <td class="tbl-header">Address: </td>
        <td class="tbl-data"><%= @violation.violation_address %></td>
      </tr>
      <tr>
        <td class="tbl-header">Date Found: </td>
        <td class="tbl-data"><%= @violation.date_entered %></td>
         <td class="tbl-header">Date Cleaned: </td>
        <td class="tbl-data"><%= @violation.date_closed %></td>
      </tr>
   </table>
  </div>
 </div>

 <div class="row detail-img-container">
  <div class="col-sm-6">
    <h3>Before</h3>
     <%= link_to image_tag(@violation.image_before.url(:full), class: "detail-img"), @violation.image_before(:full) %>
  </div>
  <div class="col-sm-6">
    <h3>After</h3>
     <%= link_to image_tag(@violation.image_after.url(:full), class: "detail-img"), @violation.image_after(:full) %>
  </div>
 </div>
</div>



<!--
<h2><%= @violation.description %></h2>
<p>Address: <%= @violation.violation_address %></p> -->

<div class="detail-actions">
  <% if signed_in? %>
      <%= link_to 'Edit | ', edit_violation_path(@violation) %>    
      <%= link_to 'Remove | ', @violation, confirm: 'Are you sure you want to remove this mess?', method: :delete, class: 'destroy' %> 
  <% else %>
    <!-- Put status update link here -->

  <% end %>
  
  <%= link_to 'Back to mess list', messes_path %>
</div>


